<!-- Error Content -->
<div class="error-page">
  <h2 class="headline text-warning"><i class="fas fa-exclamation-triangle text-warning"></i></h2>
  <div class="error-content">
    <h3><%= pageName %></h3>
    <p><%= error %></p>
    <p>
      <a href="/b2b" class="btn btn-primary">
        <i class="fas fa-arrow-left"></i> Return to Dashboard
      </a>
    </p>
  </div>
</div>
