<!-- Navbar -->
<header class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar">
      <div class="container-xl">
        <div class="row flex-column flex-md-row flex-fill align-items-center">
          <div class="col">
            <!-- BEGIN NAVBAR MENU -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/merchant">
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M5 12l-2 0l9 -9l9 9l-2 0"/>
                      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/>
                      <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/>
                    </svg>
                  </span>
                  <span class="nav-link-title"> Dashboard </span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#navbar-products" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5"/>
                      <path d="M12 12l8 -4.5"/>
                      <path d="M12 12l0 9"/>
                      <path d="M12 12l-8 -4.5"/>
                    </svg>
                  </span>
                  <span class="nav-link-title"> Products </span>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/merchant/products">All Products</a>
                  <a class="dropdown-item" href="/merchant/products/create">Add Product</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#navbar-orders" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                      <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                      <path d="M17 17h-11v-14h-2"/>
                      <path d="M6 5l14 1l-1 7h-13"/>
                    </svg>
                  </span>
                  <span class="nav-link-title"> Orders </span>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/merchant/orders">All Orders</a>
                  <a class="dropdown-item" href="/merchant/orders?status=pending">Pending</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/merchant/inventory">
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M12 3l8 4.5v9l-8 4.5l-8 -4.5v-9l8 -4.5"/>
                      <path d="M12 12l8 -4.5"/>
                      <path d="M8.2 9.8l7.6 -4.6"/>
                      <path d="M12 12v9"/>
                      <path d="M12 12l-8 -4.5"/>
                    </svg>
                  </span>
                  <span class="nav-link-title"> Inventory </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/merchant/finances">
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M17 8v-3a1 1 0 0 0 -1 -1h-10a2 2 0 0 0 0 4h12a1 1 0 0 1 1 1v3m0 4v3a1 1 0 0 1 -1 1h-12a2 2 0 0 1 -2 -2v-12"/>
                      <path d="M20 12v4h-4a2 2 0 0 1 0 -4h4"/>
                    </svg>
                  </span>
                  <span class="nav-link-title"> Finances </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/merchant/settings">
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"/>
                      <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"/>
                    </svg>
                  </span>
                  <span class="nav-link-title"> Settings </span>
                </a>
              </li>
            </ul>
            <!-- END NAVBAR MENU -->
          </div>
          <div class="col col-md-auto">
            <ul class="navbar-nav">
              <!-- Notifications -->
              <li class="nav-item dropdown d-none d-md-flex me-3">
                <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"/>
                    <path d="M9 17v1a3 3 0 0 0 6 0v-1"/>
                  </svg>
                  <span class="badge bg-red badge-notification badge-blink"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Notifications</h3>
                    </div>
                    <div class="card-body">
                      <p class="text-muted">No new notifications</p>
                    </div>
                  </div>
                </div>
              </li>
              <!-- User Menu -->
              <li class="nav-item dropdown">
                <a href="#" class="nav-link d-flex lh-1 text-reset p-0 px-2" data-bs-toggle="dropdown" aria-label="Open user menu">
                  <span class="avatar avatar-sm" style="background-image: url(https://preview.tabler.io/static/avatars/000m.jpg)"></span>
                  <div class="d-none d-xl-block ps-2">
                    <% if (typeof user !== 'undefined' && user) { %>
                      <div><%= user.name || 'Merchant' %></div>
                      <div class="mt-1 small text-muted">Seller</div>
                    <% } else { %>
                      <div>Merchant</div>
                      <div class="mt-1 small text-muted">Seller</div>
                    <% } %>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <a href="/merchant/settings" class="dropdown-item">Settings</a>
                  <a href="/merchant/profile" class="dropdown-item">Profile</a>
                  <div class="dropdown-divider"></div>
                  <form action="/merchant/logout" method="POST" style="display: inline;">
                    <button type="submit" class="dropdown-item">Logout</button>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
